/* Header */
.header {
    background-color: #F0B135;
    padding: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 15px;
    border-radius: 15px;
    z-index: 10;
}
.nav-left {
    display: flex;
    align-items: center;
}
.nav-right li a {
    text-decoration: none;
    color: inherit; 
    display: block;
    padding: 10px 15px; 
}
.nav-right li a:link,
.nav-right li a:visited {
    color: inherit;
    text-decoration: none; 
}
.nav-right li a:hover {
    color: red; 
}

.logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.bell-icon {
    width: 30px;
    height: 30px;
}
/* NavBar */
.nav-right {
    display: flex;
    list-style-type: none;
}
.nav-right li {
    margin: 0 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
}
.nav-right li.active::after {
    content: "";
    position: absolute;
    bottom: -5px; /* Slightly below the text */
    left: 0;
    right: 0;
    height: 4px; /* Height of the underline */
    background-color: #F0B135;
    border-radius: 2px;
}